.modal {
	.trigger {
		cursor: pointer;
	}
	
	.background {
		background-color: rgba(0,0,0,0.7);
		overflow: scroll;
	    
	    position: fixed;
	    z-index: 2;
	    top: 0;
	    left: 0;
	    margin: 0;
	    height: 100%;
	    width: 100%;
	}

	.content {
		background-color: #f9f9f9;

		position: relative;
		z-index: 3;
	    margin: 80px auto;
	    padding: 50px 30px;
	    max-width: 550px;

	}
}

.inline {
	display:inline;
}

.inset {
	background-color: $medium-gray;
	padding: 1.5rem 0.7rem;
    width: 90%;
    display: inline-block;
}

.tips {
	color: $medium-gray;

	&:before {
		background: url(/images/tip.png) 50% no-repeat;
	    content: "";
	    background-size: 20px;
	    width: 20px;
	    height: 20px;
	    display: inline-block;
	    position: relative;
	    top: 4px;
	    margin-right: 4px;
	}
}

.page-title {
	margin-top: 3rem;
}

.alert-text {
	color: map-get($foundation-palette, alert);
	font-size: 0.9rem;
	padding: 0.85em 1em;

	&:hover {
		color: scale-color(map-get($foundation-palette, alert), $lightness: -25%);	
	}

	transition: color 0.1s linear;
}